html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}*, *:before, *:after {box-sizing: inherit}.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* COLORS USED

    Dark #201E21
    Ocean Blue #0178A5
    Barney Purple #A7059B
    Very light pink #FFE9E9
    Light pink #F7DAE8

*/


* {
    box-sizing: border-box;
    margin: 0;
}

body {
    color: #201E21;
    font-family: 'Roboto', sans-serif;
    line-height: 29px;
    letter-spacing: 0.2px;
}

h1, h2, h3, h4 {
    font-family: 'East Sea Dokdo', cursive;
    padding: 0;
    margin: 0;
}

h2 {
    font-size: 50px;
    line-height: 36px;
}

h3 {
    font-size: 35px;
    line-height: 30px;
}

a {
    text-decoration: none;
    font-family: 'East Sea Dokdo';
    cursor: pointer;
}

button {
    font-family: 'East Sea Dokdo';
    color: #fff;
    background-color: #0178A5;
    font-size: 45px;
    line-height: 29px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

ul {
    list-style-type: none;
}

nav a {
    font-family: 'Roboto';
    font-size: 20px;
    color: #201E21;
    line-height: 29px;
    letter-spacing: 0.2px;
    padding: 15px;
}

img {
    width: 100%;
}

.skip-link {
    position: absolute;
    left: -1000px;
    top: 5px;
    z-index: 999;
    background: white;
    color: #201E21;
}
  
.skip-link:focus {
    left: 650px;
}

header {
    height: 80vh;
    background-image: url(./assets/group-4@2x.png);
    background-size: cover;
    background-position: contain;
    background-repeat: no-repeat
}

header nav {
    margin-left: -20px;
}

header nav ul li {
    padding: 15px;
    margin-left: 5px;
}

header nav ul li {
    float: left;
}

header nav ul {
    margin: 0;
}

header nav a:hover,
header nav a:focus {
    border-bottom: 2px solid #201E21;
}

header i {
    color: #fff;
    display: none;
}

header h1 {
    color: #201E21;
    font-size: 122px;
    margin-top: 200px;
    line-height: 94.3px;
}

.wrapper {
    max-width: 1080px;
    width: 90%;
    margin: 0 auto;
}


/* NEW PRODUCT */

.newProduct {
    background-color: #FFE9E9;
    padding: 75px 0
}

.newProductImgContainer {
    width: calc(30% - 40px);
    float: left;
    margin-right: 40px;
}

.newProductImgContainer, .newProductContentContainer {
    float: left;
} 

.newProductContentContainer {
    width: 70%;
}

.newProductContentContainer p {
    margin-bottom: 30px;
}

.newProductContentContainer h2 {
    margin-bottom: 25px;
}

.newProductContentContainer a {
    color: #fff;
    background-color: #0178A5;
    font-size: 35px;
    line-height: 29px;
    padding: 5px 20px;
}


/* LATEST EXHIBITIONS */

.lastestExhibitions {
    background-color: #F7DAE8;
    padding: 60px 0;
}

.lastestExhibitions h2 {
    text-align: center;
    margin-bottom: 75px;
}

.lastestExhibitions li {
    float: left;
    width: calc((100% - 80px) / 3);
    margin-right: 40px;
}

.lastestExhibitions li:nth-of-type(3n) {
    margin-right: 0;
}


/* LINKS SECTION */

.links {
    background-color: #FFE9E9;
    margin: 0;
}

.links a {
    color: #201E21;
}

.links i {
    color: #0178A5;
}

.links i:hover,
.links i:focus {
    color: #201E21;
}

.links ul {
    font-size: 35px;
    padding: 50px 100px;
}

.links ul li {
    float: left;
    text-align: center;
    width: 33.3%;
}

.links h3 {
    padding-top: 15px;
}


/*  READ MORE */

.blogContent {
    background-color: #F7DAE8;
}

.blogContainer a {
    color: #fff;
    background-color: #A7059B;
    font-size: 35px;
    line-height: 29px;
    padding: 5px 20px;
}

.readMoreImage1 {
    float: right;
    width: 50%;
}

.blog1 {
    float: right;
    width: 50%;
}

.readMoreImage2 {
    float: left;
    width: 50%;
}

.blog2 {
    float: left;
    width: 50%;
}

.blog {
    margin-top: 40px;
}

.blog h2 {
    margin: 30px;
}

.blog p {
    margin: 30px ;
}

.blog a {
    color: #fff;
    background-color: #A7059B;
    font-size: 35px;
    line-height: 29px;
    padding: 5px 20px;
    margin: 30px;
}


/* CONTACT */

.contactContainer {
    background-color: #FFe9e9;
    padding: 75px 0;
}

.footerNav {
    float: left;
    width: calc(25%);
    margin-top: 25px;
}

.footerNav li {
    margin-top: 5px;
}

.footerNav a {
    padding: 3px;
}

.footerNav a:hover,
.footerNav a:focus {
    border-bottom: 2px solid #201E21;
}

.stayUpdated {
    float: left;
    width: 50%;
    text-align: center;
}

.stayUpdated h3 {
    margin-bottom: 15px;
}

.stayUpdated form {
    margin-top: 10px;
}

.stayUpdated input {
    height: 50px;
    width: 66%;
    float: left;
    text-align: center;
    color:  #201E21;
}

.stayUpdated button {
    float: left;
}

.contact {
    float: left;
    width: 25%;
    text-align: right;
    margin-top: 20px;
}

footer,
footer a {
    background-color: #201E21;
    color: #fff;
    text-align: center;
    padding: 10px;
}

footer a {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    padding: 0;
}


/*  MEDIA QUERIES  */

@media (max-width: 1098px) {

    .blog {
        margin-top: 10px;
    }

    h2 {
        font-size: 45px;
    }

    .blog h2 {
        margin: 30px;
    }

   .stayUpdated input {
       float: none;
       width: 70%;
   }

    .stayUpdated button {
        float: none;
        margin: 10px auto;
    }
}

@media (max-width: 1034px) {

    body {
        line-height: 24px;
    }
}


/* Portrait tablet and small desktops */

@media (max-width: 965px) {

    .blog {
        margin-top: 25px;
    }

    .blog h2 {
        margin: 0 15px;
    }

    .blog p {
        margin: 15px;
        font-size: 14px;
    }

    .blog a {
        margin: 10px;
    }
}


@media (max-width: 860px) {

    .blog {
        margin-top: 0;
    }
        
    .readMoreImage1 {
        float: none;
        width: 100%;
    }

    .blog1 {
        float: none;
        width: 100%;
    }

    .readMoreImage2 {
        float: none;
        width: 100%;
    }

    .blog2 {
        float: none;
        width: 100%;
    }

    .blog {
        text-align: center;
        padding: 50px;
        margin-top: 0;
    }

    .blog p {
        margin-bottom: 25px;
    }
    
   .stayUpdated input {
    float: none;
    width: 90%;
    }
}


/* Landscape phone to portrait tablet */

@media (max-width: 768px) {

    
    .skip-link:focus {
        left: 25px;
    }

    header {
        height: 80vh;
        background-image: url(./assets/group-4@2x.png);
        background-size: center;
        background-position: center;
        background-repeat: no-repeat
    }

    header nav {
        display:none;
    }

    header i {
        display: block;
        text-align: right;
        width: 100%;
        font-size: 50px;
        margin-top: 25px;
    }

    header h1 {
        width: 25%;
        margin-top: 150px;
    }

    .wrapper {
        padding: 0 20px;
    }
    
    header h1 {
        font-size: 100px;
    }

    .newProduct {
        padding: 10px 0 40px 0
    }

    .newProductImgContainer, .newProductContentContainer {
        float: none;
    } 

    .newProductImgContainer {
        width: 100%;
        padding-top: 50px;
    }

    .newProductImgContainer img {
        width: 100%;
        height: 400px;
        object-fit: cover;
    }

    
    .newProductContentContainer {
        width: 100%;
        text-align: center;
    }

    .newProductContentContainer p {
        margin-bottom: 30px;
    }

    .newProductContentContainer h2 {
        margin: 25px 0;
    }

    .lastestExhibitions {
        padding: 60px 0;
    }

    .lastestExhibitions h2 {
        margin-bottom: 75px;
    }

    .lastestExhibitions ul {
        padding: 0;
    }
    
    .lastestExhibitions li {
        float: left;
        width: calc(50% - 20px);
    }
 
    .lastestExhibitions ul li:nth-of-type(2) {
        margin-right: 0;
    }

    .lastestExhibitions ul li:last-child {
        display: none;
    }

    
    .links ul {
        font-size: 35px;
        padding: 30px 100px;
    }

    .links ul li {
        float: none;
        width: 100%;
        margin-bottom: 30px;
    }

    .links h3 {
        padding-top: 15px;
    }


    /* CONTACT */

    .contactContainer {
        padding: 25px 0;
    }

    .footerNav {
        float: none;
        width: 100%;
        text-align: center;
        margin-bottom: 25px;
    }

    .footerNav ul li {
        display: inline-block;
        margin-right: 20px
    }

    .stayUpdated {
        float: none;
        width: 100%;
    }

    .stayUpdated input {
        width: 75%;
        margin-bottom: 5px;
       
    }

    .contact {
        float: none;
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {

    h2 {
        font-size: 40px;
        line-height: 30px;
    }
    
    h3 {
        font-size: 25px;
        line-height: 24px;
    }

    p {
        font-size: 90%;
    }

    .newProductImgContainer img {
        width: 100%;
        height: 300px;
    }

    .newProductContentContainer {
        text-align: left;
    }

    .newProductContentContainer a {
       margin: 0 25%;
    }

    .links ul {
        padding: 50px 25px;
    }

    .blog {
        text-align: center;
        padding: 25px;
        margin-top: 0;
    }
}